
:root{
    --primary-color:#055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font:  "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, Sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer{
    width: 840px;
    margin: 0 auto;
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--accent2-color);
    opacity: 0.7;
}
nav,p,section,article{
    margin: 16px;
    padding: 10px;
}
.social-media a{
    text-decoration: none;
}
.hero{
    position: relative;

}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
.hero article img {
    float: right;
    width: 125px;
}
 header a{
    text-decoration: none;
}
.social-media img{
      width: 100px; 
      height: auto;
}
footer{
    border-top: 0.5px solid #000; ;
}
article{
    position: absolute;
    top: 290px;
    left: 10px;
    width: 95%;
    padding: 0px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
p{
    text-align: justify;
}