
:root{
    --primary-color:#055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font:  "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, Sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 1rem ;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer{
    width: 840px;
    margin: 0 auto;
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--secondary-color);
    opacity: 0.7;
}
nav,p,section,article{
    margin: 16px;
    padding: 10px;
}
.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative;

}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
.hero article img {
    float: right;
    width: 125px;
}
nav {   
    padding: 1rem px;
    display: flex;
}
nav a {
    color: white;
    display: block;
    padding: 7px;
    text-decoration: none;
    font-weight: 600;
}
.socialmedia img{
      width: 50px; 
      height: auto;
}
footer {
    border-top: 0.5px solid #000;
     margin: 1rem auto 0;
    font-size: 0.8em;

}
article{
    position: absolute;
    top: 290px;
    left: 10px;
    width: 95%;
    padding: 0px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
p{
    text-align: justify;
}
header img{
    margin: 1rem;
    width: 100px;
    height: auto;
    float: right;
}
.adventure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.adventure figure {
    margin: 0;
}
.adventure img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}
.adventure figcaption {
    text-align: center;
    font-weight: 300;
    margin: 1.2px;
}
.history{
    display: flex;
    align-items: center;
    justify-content: center;
}
.history img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 10px;
}
.left-text{
    text-align: left;

}
.right-text{
    text-align: right;
}

form{
    width: 440px;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;



}

label{
    padding-right: 1rem;
}
input, textarea{
    padding: 0.3rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 20px;
    vertical-align: bottom;

}
button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .65rem;
    font-size: 1.1rem;
}
footer p{
    margin: 5px;
    padding: 7px;  

}
.form-container{
    padding: 20px;
}

textarea{
    padding: 0.1rem;
    font-size: 1.0rem;
    width: 300px;
}
.map-container{
    padding: 20px

}
.radio-label{
    display: inline-block;
    margin-right: 20px;
}
input[type="radio"]{
    margin-right: 12px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 840px;
}
.address-container{
    text-align: center;
    padding: 20px;
}
.employee{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.employee figure {
    margin: 0;
}
.employee img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}
.employee figcaption {
    text-align: center;
    font-weight: 300;
    margin: 1.2px;

}






