*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.2em;
    background-color: #fff;
}
header{
    margin: 0 auto;
    width: 600px;
}
h1{
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}
form{
    width: 650px;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;

}
fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}
legend{
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label{
    padding-right: 1rem;
}
input, select, textarea{
    padding: 0.3rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 20px;
    vertical-align: bottom;

}
button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .65rem;
    font-size: 1.1rem;
}
footer{
    margin: 1rem auto 0;
    width: 650;
    text-align: center;
    color: black;
    font-size: 0.8em;
    border-top: 1px solid;

}
.form-item{
    display: grid;
    align-items: center;

}
.column1{
    grid-template-columns: 3fr 1fr;
}
.column2{
    grid-template-columns: 1fr 2fr;
}
textarea{
    padding: 0.1rem;
    font-size: 1.0rem;
    width: 300px;
}

