*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 650px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);

}
h1{
    margin: .5rem;
}
form{
    margin: 1rem;
    background-color:#ddd ;
    color: #111;

}
code{
    display: block;
    background-color: #000;
    color: #fff;
}
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;

}
.quiz-item{
    border: none;
}
button{
    background-color: navy;
    color: #fff;
    margin: auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
}
input, textarea, select, button{
    padding: .65rem;
    width: 250px;
}